@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

.section[data-has-vis="true"]{
  margin-left: 500px;
  max-width: 50%
}

.section[data-has-vis="false"]{
  margin-left: 0;
  max-width: 100%;
}

body{
    height: 100%;
    padding: 50px;
    scroll-behavior: smooth;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
 }

 .red{
  color:red;
 }

 .blue{
  color:dodgerblue;
 }

.fixed {
    position: fixed;
    max-width: 500px;
    height: 600px;
    top: 75px;
    float: right;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  min-height: 100vh;
  padding: 50px 50px;
  box-sizing: border-box;
}

.tick > line {
    color: rgb(194, 194, 194);
    opacity: 0.5;
}

.lead-heading h1 {
    font-size: 36px; /* adjust as needed */
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

p,li {
  font-size: 30px;
}

h1, h2, h3, p, li {
  line-height: 1.5;
}

.tooltip-text-bold{
  font-weight: 700;
}

.tooltip-text-green{
  color: forestgreen;
}

.tooltip-text-blue{
  color: cornflowerblue;
}